body{
    background-color: bisque;
}

.titles{
    color:brown;
}

img{
    width: 400px;
    height: auto;
}

a{
    color: chocolate;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a:hover{
    color:lightslategray;
}